
.footer {
  background-color: #262626;

  @media ($bp-larger-than-desktopfullhd) {
    display: block;
  }

  &__top {
    margin-bottom: 20px;

    @media ($bp-larger-than-phablet) {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo {
    &--desktop {
      display: none;

      @media ($bp-larger-than-phablet) {
        display: inline;
      }
    }

    &--mobile {
      display: inline;

      @media ($bp-larger-than-phablet) {
        display: none;
      }
    }

    img {
      //height: 125px;
      max-width: 100%;
    }
  }

  &__contacts {
    padding: 24px 0 3px;

    @media ($bp-larger-than-tablet) {
      padding: 15px 20px 3px;
    }

    @media ($bp-larger-than-desktop) {
      padding: 62px 20px 3px;
    }

    .footer-social {
      display: flex;

      .social-icon {
        width: 40px;
        height: 40px;
        border: 1px solid $yellow;
        border-radius: 50%;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        transition: $anim;

        &:hover {
          text-decoration: none;
          background-color: $yellow;
        }

        svg {
          width: 18px;
          height: 18px;
          fill: #fff;
          color: #fff;
        }
      }
    }

    .footer-phone {
      font-weight: 500;
      margin-bottom: 16px;
      color: #fff;

      &__number {
        font-size: 30px;
        line-height: 1.1;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            color: #fff;
            text-decoration: none;
          }
        }
      }

      &__hint {
        font-size: 14px;
      }
    }
  }

  &__menu {
    margin-bottom: 56px;

    @media ($bp-larger-than-phablet) {
      margin-bottom: 100px;
      //padding-right: 100px;
    }

    @media ($bp-larger-than-desktopfullhd) {
      padding-right: 100px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      @media ($bp-larger-than-desktop) {
        flex-direction: row;
        text-align: left;
      }

      li {
        + li {
          margin-top: 40px;

          @media ($bp-larger-than-desktop) {
            margin-top: 0;
          }
        }
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        margin: 0 20px;

        @media ($bp-larger-than-desktop) {
          font-size: 16px;
        }

        @media ($bp-larger-than-desktopfullhd) {
          font-size: 18px;
        }

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }

  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 32px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    flex-direction: column;

    @media ($bp-larger-than-phablet) {
      flex-direction: row;
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  &__company {
    display: none;

    @media ($bp-larger-than-phablet) {
      width: 33.33%;
      display: block;
    }
  }

  &__social {
    text-align: center;
    margin-top: 32px;
    order: 3;

    @media ($bp-larger-than-phablet) {
      order: 2;
      margin-top: 0;
      width: 33.33%;
    }

    a {
      margin: 0 14px;
    }

    svg {
      fill: #fff;
      width: 24px;
      height: 24px;
    }
  }

  &__copyright {
    order: 2;
    text-align: center;

    @media ($bp-larger-than-phablet) {
      order: 3;
      text-align: right;
      width: 33.33%;
    }
  }
}