@import 'bootstrap/css/bootstrap.min';
@import '../fonts/webfontkit-20220311-034106/stylesheet.scss';
@import '_grid';
@import 'sprite';
@import 'header';

$anim: all 0.2s ease 0s;
$anim5: all 0.5s;
$animCubic: all 0.5s cubic-bezier(0.3, 0, 0.2, 1);
$animCubic02: all 0.2s cubic-bezier(0.3, 0, 0.2, 1);
$red: #E41E38;
$blue: #0091ff;

body {
    font-size: 18px;
    font-family: 'core_mellow', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 1.4161;
    color: #000;
}


@media (max-width: 550px) {
    .phablet-container{
        width: 100%;
        padding: 0;
    }
}

.phablet-container{
    &__inside{
        padding: 0 15px;

        @media ($bp-larger-than-phablet) {
            padding: 0;
        }
    }
}

.b-container {
    max-width: 1419px;
}

.block-header {
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 68px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 40px;
}

.btn {
    width: 240px;
    height: 58px;
    background: #F2C94C;
    box-shadow: 0px 4px 15px rgba(52, 45, 45, 0.25);
    border-radius: 10px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: $anim;
    margin-bottom: 40px;

    &:hover {

    }
}

.work {
    background-color: #F2F2F2;
    padding: 80px 0 86px;
    color: #000;


    &__body {
        background-color: #fff;
        box-shadow: 0px 10px 15px rgba(189, 184, 184, 0.25);
        border-radius: 8px;
        padding: 12px;
    }

    &__grid {
        border: 1px dashed #BDBDBD;
        box-sizing: border-box;
        border-radius: 8px;
        //height: 400px;
        padding: 24px 32px 24px 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    &__item {
        width: 236px;
        height: 92px;
        border-radius: 8px;
        background-color: #fff; 
        color: #000;
        padding: 15px 8px 15px 8px;
        display: flex;
        align-items: center;

        &:hover {
            background-color: #F2F2F2;
            cursor: pointer;
            text-decoration: none;
            color: #000;
        }
    }

    &__logo {
        width: 60px;
        height: 60px;
        margin-right: 12px;
    }

    &__name {
        font-size: 18px;
        line-height: 26px;
        text-decoration: none;
        
    }
}

.section-header {
    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
    }

    &__description {
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 32px;
        line-height: 45px;
        color: #000;
        position: relative;
        padding-left: 10px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 4px;
            background-color: #F2C94C;
        }
    }
}

.benefits {
    padding: 80px 0;

    &__caption {
        margin-bottom: 24px;
    }

    &__list {
        background-image: url('/img/shield.png');
        background-repeat: no-repeat;
        background-position: right 70%;
    }

    &__grid {
        width: 82.6%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__item {
        width: 31%;
        padding: 12px;
        box-shadow: 0px 10px 15px rgba(189, 184, 184, 0.25);
        border-radius: 8px;
        background-color: #fff;
    }

    &__card {
        border: 1px dashed #BDBDBD;
        border-radius: 8px;
        padding: 12px;
        min-height: 226px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__icon {
        width: 40px;
        height: 40px;
        border: 1px solid #F2C94C;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.staff {
    padding: 40px 0;

    &__grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    &__item {
        width: 280px;
        margin-bottom: 25px;
    }

    &__foto {
        overflow: hidden;
        height: 240px;
        margin-bottom: 24px;
    }

    &__name {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
    }

    &__experience {
        font-weight: 250;
        font-size: 14px;
        line-height: 20px;
    }
}

.program {
    background: #F2F2F2;
    padding: 60px 0 0 0;
    height: 895px;

    &__block {
        display: flex;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;
    }

    &__left {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    &__right {
        max-width: 70%;
        width: 100%;
        position: relative;
        z-index: 2;
    }

    &__list {
        background-color: #fff;
        box-shadow: 0px 10px 15px rgba(189, 184, 184, 0.25);
        border-radius: 8px;
        padding: 12px;
        
    }

    &__inside {
        border: 1px dashed #BDBDBD;
        border-radius: 8px;
        padding: 12px;
        min-height: 577px;
    }

    &__lock {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: -100px;
    }

    &__item {
        margin-bottom: 32px;
    }
    
    &__title {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 24px;
        display: flex;
        align-items: center;
        
        span {
            color: #F2C94C;
            font-size: 36px;
            margin-right: 16px;
        }
    }

}

.manufacturer {
    padding: 50px 0;

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 16px;
    }

    &__item {
        width: 216px;
        height: 200px;
        border: 1px solid #BDBDBD;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            display: block;
            margin: auto;
        }
    }
}

.location {
    padding: 50px 0;

    &__grid {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 25%;
        display: flex;
        //align-items: center;
        margin-bottom: 40px;
    }

    &__icon {
        margin-right: 30px;
    }

    &__city {
        font-size: 32px;
        font-weight: 500;
        line-height: 1.1;
    }
}